<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.place.model.dao.PlaceDao">


	<insert id="insertCommon" parameterType="list">
		insert all
			<foreach collection="list" item="Place">
				into content values(#{ContentCommonDTO.contentId}, #{ContentCommonDTO.contentTypeId}, #{ContentCommonDTO.contentTitle}, #{ContentCommonDTO.contentAddr}, #{ContentCommonDTO.contentTel},
				#{ContentCommonDTO.areaCode}, #{ContentCommonDTO.sigunguCode}, null, #{ContentCommonDTO.contentCat1}, #{ContentCommonDTO.contentCat2}, #{ContentCommonDTO.contentCat3}, ROUND(#{ContentCommonDTO.mapLat}, 6), ROUND(#{ContentCommonDTO.mapLng}, 6), #{ContentCommonDTO.contentThumb}, null, null,null)
			</foreach>
		select * from dual
	</insert>
	
	
	<select id="totalCount">
		select count(*) from place_info
	</select>
	

	<select id="selectPlaceList" resultType="Place">
	  SELECT * FROM (
	    SELECT rownum AS rnum, c.* FROM (
	      SELECT 
	      	p.place_id,
	        p.place_thumb,
	        p.area_code,
	        a.area_name,
	        p.sigungu_code,
	        s.sigungu_name,
	        p.place_title,
	        p.place_cat3,
	        cat.cat3_name
	      FROM place_info p
	      LEFT JOIN area_code a ON p.area_code = a.area_code
	      LEFT JOIN sigungu_code s 
	        ON p.sigungu_code = s.sigungu_code 
	       AND p.area_code = s.area_code
	      LEFT JOIN place_cat3 cat ON p.place_cat3 = cat.cat3
	      ORDER BY p.place_title ASC
	    ) c
	  )
	  WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<!-- spot 리스트 조회 -->
	<select id="selectSpotList" resultType="spot">
		  SELECT * FROM (
		    SELECT rownum AS rnum, c.* FROM (
		      SELECT 
		      	p.place_id,
		        p.place_thumb,
		        p.area_code,
		        a.area_name,
		        p.sigungu_code,
		        s.sigungu_name,
		        p.place_title,
		        p.place_cat3,
		        cat.cat3_name
		      FROM place_info p
		      LEFT JOIN area_code a ON p.area_code = a.area_code
		      LEFT JOIN sigungu_code s 
		        ON p.sigungu_code = s.sigungu_code 
		       AND p.area_code = s.area_code
		      LEFT JOIN place_cat3 cat ON p.place_cat3 = cat.cat3
		      ORDER BY p.place_title ASC
		    ) c
		  )
		  WHERE rnum BETWEEN #{start} AND #{end}
	</select> 
	<!-- place 타입 테이블 조회 -->
	<select id="selectPlaceType" resultType="map">
	    select place_type_id as "id", place_type_name as "name"
    	from place_type
	</select>
	

	 
	 <!--  초기 데이터: place데이터 -->
	<insert id="insertPlaceInfoList" parameterType="java.util.List">
	    INSERT INTO place_info (
	        place_id, place_type_id, place_title, place_addr, place_tel,
	        area_code, sigungu_code,
	        place_cat1, place_cat2, place_cat3,
	        map_lat, map_lng, place_thumb
	    )
	    <foreach collection="list" item="place" separator="union all">
	        SELECT
	        #{place.placeId}, #{place.placeTypeId}, #{place.placeTitle}, #{place.placeAddr}, #{place.placeTel},
	        #{place.areaCode}, #{place.sigunguCode},
	        #{place.placeCat1}, #{place.placeCat2}, #{place.placeCat3},
	        #{place.mapLat}, #{place.mapLng}, #{place.placeThumb}
	        FROM DUAL
	    </foreach>
	</insert>
		 
	 
	<!--  spot detail 추가 쿼리! 추후 수정 필요 -->
	<select id="selectSpotDetail" resultType="place">
    	SELECT * FROM place_info WHERE place_type_id = 12
	</select>
	
	<update id="updateDetailInfo" parameterType="kr.co.iei.place.model.dto.PlaceInfoDTO">
	    UPDATE place_info
	    SET use_time = #{useTime},
	        rest_date = #{restDate},
	        parking = #{parking}
	    WHERE place_id = #{placeId}
	</update>

	<insert id="insertSpotInfo" parameterType="kr.co.iei.place.model.dto.SpotDTO">
    	INSERT INTO spot (place_id, heritage1, heritage2, heritage3, use_season)
    	VALUES (#{placeId}, #{heritage1}, #{heritage2}, #{heritage3}, #{useSeason})
	</insert>
	  
</mapper>
