<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.place.model.dao.PlaceDao">

	<select id="totalCount">
		select count(*) from place_info
		<where>
			<if test="selectedMenu != 0">
				<choose>
					<when test="selectedMenu == 1">
						place_type_id =12
					</when>
					<when test="selectedMenu == 2">
						place_type_id IN (14, 15, 28, 38)
					</when>
					<when test="selectedMenu == 3">
						place_type_id =32
					</when>
					<when test="selectedMenu == 4">
						place_type_id =39
					</when>
				</choose>
			</if>
		</where>
	</select>

	<select id="selectALLPlaceList" resultType="place">
		  select * from (
		    select rownum as rnum, c.* from (
		      select
		        p.place_id,
		        p.place_thumb,
		        p.area_code,
		        a.area_name,
		        p.sigungu_code,
		        s.sigungu_name,
		        p.place_title,
		        p.place_cat3,
		        cat.cat3_name,
		        nvl((select round(avg(star_rate), 1) from review where place_id = p.place_id), 0) as place_rating,
		        nvl((select count(*) from review where place_id = p.place_id), 0) as place_review,
		        (select count(*) from bookmark b where b.place_id = p.place_id and b.member_nickname = #{memberNickname}) as bookmarked
		      from place_info p
		      left join area_code a on p.area_code = a.area_code
		      left join sigungu_code s on p.sigungu_code = s.sigungu_code and p.area_code = s.area_code
		      left join place_cat3 cat on p.place_cat3 = cat.cat3
		      <where>
		        <if test="selectedMenu != 0">
		          <choose>
		            <when test="selectedMenu == 1">
		              and p.place_type_id = 12
		            </when>
		            <when test="selectedMenu == 2">
		              and p.place_type_id in (14, 15, 28, 38)
		            </when>
		            <when test="selectedMenu == 3">
		              and p.place_type_id = 32
		            </when>
		            <when test="selectedMenu == 4">
		              and p.place_type_id = 39
		            </when>
		          </choose>
		        </if>
		      </where>
		
		      <choose>
		        <when test="order == 1">
		          order by place_review desc
		        </when>
		        <when test="order == 2">
		          order by place_rating desc
		        </when>
		        <when test="order == 3">
		          order by bookmarked desc
		        </when>
		      </choose>
		
		    ) c
		  )
		  where rnum between #{pi.start} and #{pi.end}
	</select>


	<!-- place 타입 테이블 조회 -->
	<select id="selectPlaceType" resultType="category">
		select place_type_id as
		id, place_type_name as name
		from place_type
	</select>


	<!-- place 상세페이지 조회 -->
	<select id="selectPlaceWithBookmarked" resultType="place">
		select
			c2.cat2_name,
			c3.cat3_name,
			p.place_title,
			a.area_name,
			s.sigungu_name,
			p.place_overview,
			p.place_addr,
			p.place_tel,
			place_thumb,
			place_type_id,
			nvl((select round(avg(star_rate),1) from review where place_id=p.place_id),0) as place_rating,
			nvl((select count(*) from review where place_id=p.place_id),0) as place_review,
			(select count(*) from bookmark b where b.place_id = p.place_id and b.member_nickname = #{memberNickname}) as bookmarked
		FROM place_info p
		left join place_cat2 c2 on p.place_cat2 = c2.cat2
		left join place_cat3 c3 on p.place_cat3 = c3.cat3
		left join area_code a on p.area_code = a.area_code
		left join sigungu_code s ON p.sigungu_code = s.sigungu_code and p.area_code = s.area_code
		where p.place_id = #{placeId}
	</select>


	<!-- 즐겨찾기 토글 기능 -->
	<select id="checkBookmark" resultType="int">
		select count(*) from bookmark
		where member_nickname = #{memberNickname}
		and place_id = #{placeId}
	</select>
	<insert id="insertBookmark">
		insert into bookmark (bookmark_no, member_nickname, place_id) values (bookmark_seq.nextval, #{memberNickname}, #{placeId})
	</insert>
	<delete id="deleteBookmark">
		delete from bookmark where member_nickname = #{memberNickname} and place_id = #{placeId}
	</delete>
	
	
	


	<!-- 초기 데이터: place데이터 -->
	<insert id="insertPlaceInfoList" parameterType="java.util.List">
		INSERT INTO place_info (
		place_id, place_type_id, place_title,
		place_addr, place_tel,
		area_code, sigungu_code,
		place_cat1, place_cat2,
		place_cat3,
		map_lat, map_lng, place_thumb
		)
		<foreach collection="list" item="place" separator="union all">
			SELECT
			#{place.placeId}, #{place.placeTypeId}, #{place.placeTitle},
			#{place.placeAddr},
			#{place.placeTel},
			#{place.areaCode},
			#{place.sigunguCode},
			#{place.placeCat1}, #{place.placeCat2},
			#{place.placeCat3},
			#{place.mapLat}, #{place.mapLng},
			#{place.placeThumb}
			FROM DUAL
		</foreach>
	</insert>

	<!-- 초기 데이터: 오버뷰 인서트쿼리 -->
	<select id="selectPlaces" resultType="place">
		SELECT * FROM place_info
	</select>
	<update id="updateOverview"
		parameterType="kr.co.iei.place.model.dto.PlaceInfoDTO">
		UPDATE place_info
		SET place_overview = #{placeOverview}
		WHERE place_id = #{placeId}
	</update>


	<!-- spot detail 추가 쿼리! 추후 수정 필요 <insert id="insertSpotInfo" parameterType="kr.co.iei.place.model.dto.SpotDTO"> 
		INSERT INTO spot (place_id, heritage1, heritage2, heritage3, use_season) 
		VALUES (#{placeId}, #{heritage1}, #{heritage2}, #{heritage3}, #{useSeason}) 
		</insert> -->
	<select id="selectAllPlaceCategories" resultType="category">
		SELECT 1 AS
		cat_index, cat1 AS id, cat1_name AS name FROM place_cat1
		UNION ALL
		SELECT 2 AS cat_index, cat2 AS id, cat2_name AS name FROM place_cat2
		UNION ALL
		SELECT 3 AS cat_index, cat3 AS id, cat3_name AS name FROM
		place_cat3
	</select>
	<select id="selectArea" resultType="category">
		select area_code as id,
		area_name as name from area_code
	</select>
</mapper>
