<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.review.model.dao.ReviewDao">
<select id="totalCount" resultType="int">
 select count(*) from review 
 <where>
 <choose>
<when test="value == 'plan'">
	content_type = #{value}
</when>
<when test="value == 'spot'">
	 content_type_id = 12
</when>
<when test="value == 'food'">
	 content_type_id = 39
</when>
<when test="value == 'room'">
	 content_type_id = 32
</when>
<when test="value == 'todo'">
	 content_type_id IN (14, 15, 38, 28)
</when>

 </choose>
 </where>
</select>
  <select id="selectBoardList" resultType="review">
    select * from
(select rownum as rnum, r.*from
(select 
review_no,
review_title,
review_content,
star_rate,
member_nickname,
review_date
from review 
<where>
 <choose>
<when test="value == 'plan'">
	content_type = #{value}
</when>
<when test="value == 'spot'">
	 content_type_id = 12
</when>
<when test="value == 'food'">
	 content_type_id = 39
</when>
<when test="value == 'room'">
	 content_type_id = 32
</when>
<when test="value == 'todo'">
	 content_type_id IN (14, 15, 38, 28)
</when>

 </choose>
 </where>
 order by review_no desc)r)
where rnum between #{pi.start} and #{pi.end}
  </select>
<select id="selectOneReview" resultType="review">
select *from review where review_no=#{reviewNo}
</select>
 <select id="commList" resultType="comm">
 	select comm_no, member_nickname, comm_content from comm where review_no=#{reviewNo}
 </select>
 <delete id="deleteComm">
 delete comm where comm_no=#{commNo}
 </delete>
<insert id="insertComm">
insert into comm values(comm_seq.nextval,#{memberNickname},#{commContent},#{reviewNo})
</insert>
</mapper>
