<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.search.model.dao.SearchDao">
	<select id="selectKeyword" resultType="String">
		select keyword from search_keyword where keyword like '%'||
		<if test="query != null">
			#{query}
		</if>
		||'%'
		<if test="type != null and type.length>0">
			and place_type in (
			<foreach collection="type" item="item" separator=",">
				#{item}					
			</foreach>
			)
		</if>
	</select>
	<select id="selectPlaceByKeyword" resultType="search">
	 SELECT 
	    p.PLACE_TYPE_ID AS placeTypeId,
	    p.PLACE_TITLE AS placeTitle,
	    p.PLACE_ADDR AS placeAddr,
	    p.PLACE_THUMB AS placeThumb,
	    (SELECT a.AREA_NAME 
	     FROM AREA_CODE a 
	     WHERE a.AREA_CODE = p.AREA_CODE) AS area,
	    (SELECT s.SIGUNGU_NAME 
	     FROM SIGUNGU_CODE s 
	     WHERE s.AREA_CODE = p.AREA_CODE 
	       AND s.SIGUNGU_CODE = p.SIGUNGU_CODE) AS sigungu
	  FROM PLACE_INFO p
	
	  WHERE p.PLACE_TYPE_ID = #{type[0]}
	  AND (
	    EXISTS (
	      SELECT 1
	      FROM SEARCH_KEYWORD k
	      WHERE k.PLACE_TYPE = #{type[0]}
	        AND (
	             k.KEYWORD LIKE '%' || #{query} || '%'
	          OR k.CAT1 = p.PLACE_CAT1
	          OR k.CAT2 = p.PLACE_CAT2
	          OR k.CAT3 = p.PLACE_CAT3
	          OR k.AREA_CODE = p.AREA_CODE
	        )
	    )
	    OR EXISTS (
	      SELECT 1
	      FROM SEARCH_KEYWORD k
	      WHERE k.PLACE_TYPE = #{type[0]}
	        AND k.KEYWORD LIKE '%' || #{query} || '%'
	        AND k.PLACE_ID = p.PLACE_ID
	    )
	  )
	</select>

	<insert id="insertSearchLog">
		insert into search_log values(search_log_seq.nextval, #{query}, to_char(sysdate,'yyyy-mm-dd'))
	</insert>
</mapper>
