<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.tour.model.dao.TourDao">
	<insert id="insertCommon" parameterType="list">
		insert all
			<foreach collection="list" item="ContentCommonDTO">
				into content values(#{ContentCommonDTO.contentId}, #{ContentCommonDTO.contentTypeId}, #{ContentCommonDTO.contentTitle}, #{ContentCommonDTO.contentAddr}, #{ContentCommonDTO.contentTel},
				#{ContentCommonDTO.areaCode}, #{ContentCommonDTO.sigunguCode}, null, #{ContentCommonDTO.contentCat1}, #{ContentCommonDTO.contentCat2}, #{ContentCommonDTO.contentCat3}, ROUND(#{ContentCommonDTO.mapLat}, 6), ROUND(#{ContentCommonDTO.mapLng}, 6), #{ContentCommonDTO.contentThumb}, null, null,null)
			</foreach>
		select * from dual
	</insert>
	
	
	<select id="totalCount">
		select count(*) from content
	</select>
	
	<select id="selectTourList" resultType="commonContent">
	  SELECT * FROM (
	    SELECT rownum AS rnum, c.* FROM (
	      SELECT 
	      	con.content_id,
	        con.content_thumb,
	        con.area_code,
	        a.area_name,
	        con.sigungu_code,
	        s.sigungu_name,
	        con.content_title,
	        con.content_cat3,
	        cat.cat3_name
	      FROM content con
	      LEFT JOIN area_code a ON con.area_code = a.area_code
	      LEFT JOIN sigungu_code s 
	        ON con.sigungu_code = s.sigungu_code 
	       AND con.area_code = s.area_code
	      LEFT JOIN content_cat3 cat ON con.content_cat3 = cat.cat3
	      ORDER BY con.content_title ASC
	    ) c
	  )
	  WHERE rnum BETWEEN #{start} AND #{end}
</select>
</mapper>
